


body {
    background-color: rgb(238, 207, 255);
}





.journal-header {
    font-size: 40px;
    font-style: italic;
    text-decoration: underline 2px;
    text-underline-offset: 8px;
    padding: 5px;

}

.paragraph {
    font-size: 15px;
    line-height: 25px;
    background-color: rgb(164, 190, 255);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:450px) {
    body {background-color:rgb(164, 67, 255) ;
    }

    .journal-header {
        color: rgb(255, 255, 93);
    font-size: 40px;
    font-style: italic;
    text-decoration: underline 2px;
    text-underline-offset: 8px;
    padding: 5px;
    }

    .paragraph {
    font-size: 15px;
    line-height: 25px;
    background-color: rgb(59, 114, 253);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
justify-content: center; 
color: rgb(255, 255, 0);
}

}
