@font-face {
    font-family: 'Avenir';
    src: url('AvenirNext-Medium.woff2') format('woff2'),
        url('AvenirNext-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


body {
    background-color:rgb(195, 0, 114);
}

h1 {
    color:rgb(186, 164, 255);
    font-size:40px;
    
}

ul {
    color: rgb(186, 164, 255);
    font-family: 'Avenir';
    font-size:20px;
    font-style: italic;
}

.list {
    color:rgb(186, 164, 255);
    /* background-color:rgb(154, 31, 255); */
    padding:10px;
    text-decoration: none;
}

.link-hover:hover {
    background-color: rgb(140, 255, 0);
    color: rgb(255, 0, 76);
}

p {
    font-family:monospace
}

.smiley {
    background-color: black;
    width: 300px;
    height: 300px;
    position: relative;
}

.lefteyebrow {
    background-color: rgb(132, 239, 255);
    width:70px;
    height: 10px;
    position: absolute;
    top:40px;
    left: 20px;
}

.righteyebrow {
    background-color: rgb(132, 239, 255);
    width:70px;
    height: 10px;
    position: absolute;
    top:40px;
    right: 20px;
}

.eye {
    background-color: rgb(255, 0, 140);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 60px;
    border: 10px solid rgb(152, 133, 133);

}

.right {
right:40px;

}

.left {
left:40px;
}

.nose {
    background-color:rgb(255, 0, 174);
    width: 40px;
    height: 60px;
    position:absolute;
    top: 100px;
    left: 130px;
}

.mouth {
    background-color: coral;
    width: 160px;
    height: 30px;
    position: absolute;
    bottom:60px;
    left:70px;

}

.left-mouth {
background-color: coral;
width:10px;
height: 50px;
position: absolute;
bottom: 60px;
left: 60px;
}


.right-mouth {
background-color: coral;
width:10px;
height: 50px;
position: absolute;
bottom: 60px;
right: 60px;
}

.orange-base {
    background-color: orangered;
    width: 400px;
    height: 400px;
    /* border-radius: 40px;  (curves) */
    position: relative;
}

.lineone {
    background-color: rgb(255, 102, 0);
    width: 40px;
    height: 400px;
    position: absolute;
    top:0px;
    left:20px;

}

.linetwo {
    background-color: rgb(255, 102, 0);
    width: 40px;
    height: 400px;
    position: absolute;
    top:0px;
    left:100px;

}

.linethree {
    background-color: rgb(255, 102, 0);
    width: 40px;
    height: 400px;
    position: absolute;
    top:0px;
    left:180px;

}

.linefour {
    background-color: rgb(255, 102, 0);
    width: 40px;
    height: 400px;
    position: absolute;
    top:0px;
    left:260px;

}

.linefive {
    background-color: rgb(255, 102, 0);
    width: 40px;
    height: 400px;
    position: absolute;
    top:0px;
    left:340px;

}

.pumpkineyeleft {
    background-color: black;
    width:60px;
    height:60px;
    position: absolute;
    top:80px;
    left:80px;
}

.pumpkineyeright {
    background-color: black;
    width:60px;
    height:60px;
    position: absolute;
    top:80px;
    right:80px;
}

.stem {
    background-color: rgb(88, 32, 32);
    width: 50px;
    height: 80px;
    position: absolute;
    top:-80px;
    left:180px;
}

