* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    background-color: rgb(193, 247, 160);
    padding: 20px;
    display:flex;
    border-radius: 20px;
    height: 700px;
    
    /* defauly flex direction is row */
    /* flex direction establishes the main axis */


    flex-direction:row;
    flex-wrap:wrap;

   
    justify-content:space-evenly;
     /* justify content aligns our itmes along the main axis*/

    align-items: flex-start;
    /* align-items aligns our items along the cross axis, and is intended for non wrapping textboxes*/

    align-content: center;
    /* align-content aligns our items along the cross axis and is intended for wrapping */

    gap: 10px;
}

.item {
    background-color: rgb(184, 184, 245);
    padding: 10px;
    border: 1px solid;
    width: 200px;
    height: 100px;
    border-radius: 20px;

    /* how to center text in boxes VV */
    display: flex;
    align-items: center;
    justify-content: center;

}
