* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
background-color: rgb(255, 127, 47);
padding: 10px;
height: 100vh;
}

.top {
/* background-color: rgb(118, 226, 3); */
height: 25%;
display:flex;
gap: 10px;

}


.top-item {
    background-color: rgb(138, 245, 32);
    width: 100%;
}


.bottom {
    /* background-color: rgb(255, 117, 37); */
    height: 75%;
    display: flex;
    gap: 10px;
}

.left {
background-color: blueviolet;
width: 50%;
display: flex;
align-items: center;
justify-content: center;
}

.center {
background-color: darkblue;
width: 100px;
height: 100px;
}


.right {
    background-color: blueviolet;
    width: 50%;
}