

body {
    background-color: rgb(181, 103, 255);
    padding: 40px;
    margin: 40px;
}

.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300px;
    max-width: 1000px;
}


@media screen and (max-width:1000px) {

    body {
        background-color: rgb(181, 103, 255);
    }

}

/* Desktop---> tablet--->phone (with max width) */


@media screen and (max-width:900px) {
body {
    background-color: rgb(166, 255, 234);
}

}


.text:hover {
    background-color: rgb(255, 115, 213);
   color: beige;
}

.flex {
    display: flex;
align-content: center;

}